.banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 500px;
}

.banner_secOne {
  width: 65%;
}

/* .banner_secOne h1 {
  line-height: 40px;
} */

.banner_backgroundImage {
  background-image: url("../static/agpng.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner_buttonGroup {
  display: flex;
}

.banner_subHeading {
  color: #858585;
  padding-top: 30px;
  padding-bottom: 30px;
}
