.shopping_searchList {
  display: flex;
  justify-content: space-between;
}

.shopping_search {
  width: 20%;
}

.shopping_listing {
  width: 80%;
}

.shopping_searchProducts {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.shopping_searchInput {
  width: 85%;
  border: 2px solid #206a5d;
  padding-left: 10px;
}
