* {
  padding: 0;
  margin: 0;
}

.nav_navHeader {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: aquamarine;
}

.nav_navContent {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.nav_navContent ul li {
  list-style-type: none;
  display: inline-block;
}
.nav_navContent ul li a {
  text-decoration: none;
  padding-right: 30px;
}

.prod_image {
  width: 15%;
  height: 15%;
}
